version: '3.8'
services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: wproj8-backend:latest
    environment:
      - REDIS_URL=redis://redis:6379/0
    ports:
      - 8000:8000
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: wproj8-frontend:latest
    ports:
      - 8080:80
    depends_on:
      - app

  redis:
    image: redis:7
    ports:
      - 6379:6379
