version: '3.8'
services:
  app:
    image: python:3.11-slim
    volumes:
      - ./backend:/srv/backend
    working_dir: /srv/backend
    command: bash -c "pip install -r requirements.txt && uvicorn main:app --host 0.0.0.0 --port 8000"
    ports:
      - 8000:8000
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - 6379:6379
